<div>
    <h1 style="color:red; background-color: beige;">Login Form</h1>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div>
            <label>Id</label>
            <p><input type="number" name="id" ngModel required></p>
        </div>
        <div>
            <label>Password</label>
            <p><input type="text" name="password" ngModel required></p>
        </div>
        <div>
            <button class="box" type="submit" [disabled]="form.invalid">Submit</button>
        </div>
    </form>
</div>
<div>
    <h1 [ngStyle]="{'background-color':getBackgroundColor()}">{{message}}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of students">
                <td>{{s.id}}</td>
                <td>{{s.password}}</td>
            </tr>
        </tbody>
    </table>
</div>